<div *ngFor="let villain of villains" fxLayout="row" fxLayout="row" fxLayoutAlign="start stretch">
  <mat-card fxLayout="column" fxLayoutAlign="start stretch">
    <span>{{ villain?.name }}</span>
    <span>{{ villain?.description }}</span>
    <span>
      {{ villain?.assignedLightning }} / {{ villain?.totalhealth }}
      <img src="../../../assets/lightning-bolt.jpg" alt="Lightning bolt" width="20px" height="20px" />
    </span>
    <div *ngIf="villain?.totalCoins > 0">
      {{ villain?.assignedCoins }} / {{villain?.totalCoins}}
      <img src="../../../assets/coin.png" alt="Coin" width="20px" height="20px" />
      <br>
    </div>
  </mat-card>
</div>