<button mat-button (click)="makeGameStateCall()" color="primary">MAKE API CALL HERE</button>

<pre>{{gameState | json}}</pre>
<div class="columns board-game-container" fxFlex="100">
    <div style="padding: 2%;" fxFlex="67">
        <div class="rows" style="padding: 2%;">
            <app-location></app-location>
            <!-- Dark art card cover pic goes here -->
            <app-dark-art-card></app-dark-art-card>
        </div>
        <div class="rows" style="padding: 2%;">
            <!-- Villain card cover pic goes here -->
            <app-encounter></app-encounter>
        </div>
        <div class="rows" style="padding: 2%;">
            <app-villains></app-villains>
        </div>
    </div>
    <div fxFlex="33">
        <app-hogwarts-cards></app-hogwarts-cards>
    </div>
</div>