.card-container {
    display: flex;
    flex-wrap: wrap;
}

.hogwarts-card {
    color: white;
    background-color: #E0BE90;
    /* flex: 0 0 33.333333%; */
}

.spell {
    background-color: #862627;
}

.item {
    background-color: #D7C152;
}

.ally {
    background-color: #375DA6;
}