.hogwarts-card {
  color: white;
  background-color: #e0be90;
}

.spell {
  background-color: #862627;
}

.item {
  background-color: #d7c152;
}

.ally {
  background-color: #375da6;
}

.buy-button {
  background-color: #595450;
  padding: 0 8px;
}
